#sidebar {

  .tweets {

    .time {
      display: inline-block;
      line-height: 20px;
    }

    .actions {

      padding-right: 20px;

      a {
        color: $brand-primary;
        text-decoration: none;
      }

      i {
        margin-left: 5px;
      }

    }

  }

}