<div id="breadcrumbs" class="clearfix">

    <div class="container-fluid">

        <h1 class="pull-left">{{ page.heading }}</h1>
      
        <ol class="pull-right breadcrumb">
          <li><a href="/">Home</a></li>
          {% for breadcrumb in page.breadcrumbs %}
            {% if breadcrumb.link %}
            <li><a href="{{ breadcrumb.link }}">{{ breadcrumb.text }}</a></li>
            {% else %}
            <li class="active">{{ breadcrumb.text }}</li>
            {% endif %}
          {% endfor %}
        </ol>

        <!--<?php if (!empty($this->breadcrumbs)) { ?>
        <ol class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <?php foreach ($this->breadcrumbs as $breadcrumb) { ?>
            <?php if (is_string($breadcrumb)) { ?>
            <li class="active"><?=$breadcrumb?></li>
            <?php } else { ?>
            <li><a href="<?=$breadcrumb[0]?>"><?=$breadcrumb[1]?></a></li>
            <?php } ?>
            <?php } ?>
        </ol>
        <?php } ?>-->

    </div>

</div>