<header id="header" class="container">

  <div class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">blarg.co.uk</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-links">
        <ul class="nav navbar-nav navbar-right">
          <li{% if page.pageClass contains "blarg" %} class="active"{% endif %}><a href="{{ site.baseurl }}/blarg/">Blarg</a></li>
          <li{% if page.pageClass contains "blog" %} class="active"{% endif %}><a href="{{ site.baseurl }}/blog/">Blog</a></li>
          <li{% if page.pageClass contains "tools" %} class="active"{% endif %}><a href="{{ site.baseurl }}/tools/">Tools</a></li>
          <li{% if page.pageClass contains "astronomy" %} class="active"{% endif %}><a href="{{ site.baseurl }}/astronomy/">Astronomy</a></li>
        </ul>
      </div>

    </div>

  </div>

</header>