<head>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="{{ site.baseurl }}/assets/images/icons/favicon.ico">
  <link rel="author" href="{{ site.baseurl }}/humans.txt">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' | link }}">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/site.css">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - blarg.co.uk</title>

  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  
  {% if page.feed %}<link rel="alternate" type="application/rss+xml" title="blarg.co.uk feed" href="{{ site.url }}/feed.xml" />{% endif %}

</head>