<header id="header" class="container">

  <div class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">blarg.co.uk</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-links">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/blarg">Blarg</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/astronomy">Astronomy</a></li>
        </ul>
      </div>

    </div>

  </div>

</header>