<div id="top">
    <div class="container">
        <ul class="social pull-right">
            <li><a href="https://github.com/wrakky" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"></i></a></li>
            <li><a href="https://twitter.com/wrakky" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://www.flickr.com/photos/16120271@N03/" data-toggle="tooltip" data-placement="bottom" title="Flickr"><i class="fa fa-flickr"></i></a></li>
        </ul>
    </div>
</div>