---
layout: sidebar
title: Blog
heading: Blog
description: Musings from the mind of a blarger. Technology, astronomy and random stuff.
pageClass: blog
breadcrumbs:
- text: Blog
sidebar:
- blog_latest
- tools
---

{% for post in paginator.posts %}

<div class="post clearfix">

  <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

  <div class="info"> 
    <div class="pull-left">
      <i class="fa fa-calendar"></i>
      {{ post.date | blog_date }}
    </div>
    <div class="pull-right">
      <i class="fa fa-comments"></i>
      <a href="{{ post.url }}#disqus_thread"></a>
    </div>
  </div>

  <br class="clearfix">

  <p>{{ post.excerpt }}</p>

  <a href="{{ post.url }}">
    <i class="fa fa-arrow-circle-o-right"></i>
    Read Full Post&hellip;
  </a>

</div>

{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="/blog{% if paginator.previous_page > 1 %}/page-{{ paginator.previous_page }}{% endif %}" class="btn">&laquo; previous</a>
  {% endif %}
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="btn">{{ page }}</span>
    {% else %}
      <a href="/blog{% if page > 1 %}/page-{{ page }}{% endif %}" class="btn">{{ page }}</a>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
  <a href="/blog/page-{{ paginator.next_page }}" class="btn">next &raquo;</a>
  {% endif %}
</div>
{% endif %}

{% include disqus/count.html %}