/*
 * Site
 */

// hide number spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#top {
  padding-top: 8px;
  ul {
    margin: 0px;
    padding: 0px;
    li {
      display: inline;
      list-style: none;
    }
    &.social {
      a {
        display: inline-block;
        padding: 5px 10px;
        background-color: $navbar-default-bg;
        color: #ffffff;
        border: 1px solid $navbar-default-bg;
        border-bottom: none;
        position: relative;
        &:hover::before {
          height: 100%;
        }
        &::before {
          content: '';
          background-color: $brand-success;
          position: absolute;
          top: 0px;
          left: 0px;
          height: 0%;
          width: 100%;
          transition: height 0.3s ease-out;
        }
        & > i {
          position: relative;
        }
      }
    }
    &.logout {
      margin-right: 20px;
      a {
        color: $gray;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}

#header {

  .navbar {
    margin-bottom: 0;
    border-top: none;
    border-radius: 0;
    border-bottom-width: 1px;

    .navbar-brand {
      &:hover {
        color: #fff;
      }
    }

    .navbar-nav {

      a {
        border-bottom: 2px solid $navbar-default-bg;
      }
      a:hover {
        border-bottom-color: #ffffff;
      }

      .active {
        a {
          border-bottom-color: $brand-success;
        }
      }
    }

  }

}

#breadcrumbs {

  line-height: 65px;
  background-color: lighten($navbar-default-bg, 73%);
  margin-bottom: 10px;

  h1, ol {
    margin: 0px;
    padding: 0px;
  }

  h1 {
    line-height: 65px;
  }

  ol {
    background-color: lighten($navbar-default-bg, 73%);
  }

}

#sidebar {

  .sidebar-box {

    margin-bottom: 20px;

    .title {
      border-bottom: 1px dotted lighten($brand-primary, 20%);
      margin-bottom: 10px;
      h2 {
        font-size: 18px;
        display: inline-block;
        border-bottom: 2px solid $brand-success;
        padding-bottom: 2px;
        margin-bottom: -2px;
        margin-top: 10px;
        i {
          padding-right: 3px;
        }
      }
    }

    .social-share {
      border-width: 0;
    }

    .list-group {

      margin-bottom: 0px;

      .list-group-item {

        a {

          img.icon {
            height: 18px;
            padding-right: 2px;
          }

        }

        p {
          font-size: 14px;
          margin-bottom: 0px;
          color: $gray-dark;
        }

      }

    }

    .tweets {

      .tweet {

        border-top: 1px solid lighten($btn-default-bg, 30%);
        padding: 8px 0px;

        &:first-of-type {
          border-top: none;
        }

        p {
          margin-bottom: 0px;
        }

        .details {

          .time {
            color: $btn-default-bg;
            font-size: 11px;
          }

          .username {
            font-size: 12px;
            color: $btn-default-bg;
            position: relative;
            top: -5px;
          }

        }

        .text {
          font-size: 14px;
        }

      }

      &:first-child {
        border-top: none;
      }

    }

  }

}

#footer {

  padding-top: 10px;

  .navbar {
    background-color: #95A5A6;
    border: none;
  }

}

.tile {

  border: 1px solid $gray-lighter;
  border-radius: 4px;
  margin: 0px 0px 20px;

  .tile-inner {
    padding: 5px;
    //.clearfix();
  }

  .tile-img {
    padding: 0px;
    img {
      max-width: 100%;
    }
  }

  .tile-info {
    padding: 0px 15px 5px;
    //.clearfix();
  }

}

small, .small {
  font-size: 75%;
}

.cursor-help {
  cursor: help;
}

.link-group {
  position: relative;
  display: inline-block;
  > .btn {
    position: relative;
    float: left;
    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-style: solid;
      border-left-width: 1px;
      &.btn-info {
        border-left-color: darken($brand-info, 5%);
      }
      &.btn-primary {
        border-left-color: lighten($brand-primary, 5%);
      }
      &.btn-danger {
        border-left-color: darken($brand-danger, 5%);
      }
    }
  }
}

.link-group {
  margin-right: 20px;
  i {
    margin-right: 5px;
  }
}

a.github {
  img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}

@media (max-width: $screen-xs-max) {

  #breadcrumbs {
    line-height: 40px;
    h1 {
      line-height: 40px;
    }
    ol.breadcrumb {
      display: none;
    }
  }

  a.github {
    img {
      max-width: auto;
      width: 75px;
    }
  }

  $xs-font-multipler: 0.85;

  h1 {
    font-size: $font-size-h1 * $xs-font-multipler;
  }
  h2 {
    font-size: $font-size-h2 * $xs-font-multipler;
  }
  h3 {
    font-size: $font-size-h3 * $xs-font-multipler;
  }
  h4 {
    font-size: $font-size-h4 * $xs-font-multipler;
  }
  h5 {
    font-size: $font-size-h5 * $xs-font-multipler;
  }

  .link-group {
    > .btn {
      &:first-child:not(:last-child) {
        border-top-right-radius: $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
        span {
          display: none;
        }
      }
      &:last-child:not(:first-child) {
        display: none;
      }
    }
  }
  #share {
    .link-group {
      margin-right: 5px;
    }
  }

}

.tooltip-inner {
  white-space: nowrap;
}

table.table-centered {
  th {
    text-align: center;
  }
}