---
layout: page
---

<div class="row">

    <div id="content" class="col-md-9{% if page.contentClass %} {{ page.contentClass }}{% endif %}">

        {{ content }}

    </div>

    <div id="sidebar" class="col-md-3">

      {% for sidebar in page.sidebar %}

        {% include sidebar/{{ sidebar }}.html %}
      
      {% endfor %}
      
      {% if page.noSidebarExtra %}{% else %}
      
        {% for sidebar in page.sidebarExtra %}
      
          {% include sidebar/{{ sidebar }}.html %}
      
        {% endfor %}
      
      {% endif %}

    </div>

</div>