<!-- Page Navigation -->
<div class="sidebar-box">

  <div class="title">
    <h2>
      <i class="fa fa-angle-double-down"></i>
      Page Navigation
    </h2>
  </div>

  <ul class="list-group">
    <li class="list-group-item"><a href="#what">What Is A Barn Door Tracker?</a></li>
    <li class="list-group-item"><a href="#how">How It Works</a></li>
    <li class="list-group-item"><a href="#build">Build Process</a></li>
    <li class="list-group-item"><a href="#screws">A Tale of Two Screws</a></li>
    <li class="list-group-item"><a href="#use">How To Use It</a></li>
    <li class="list-group-item"><a href="#gallery">Gallery</a></li>
    <li class="list-group-item"><a href="#parts">Parts</a></li>
    <li class="list-group-item"><a href="#resources">Useful Resources</a></li>
  </ul>

</div>