<!-- Blarg Tweets -->
<div class="sidebar-box">

  <div class="title">
    <h2>
      <i class="fa fa-twitter"></i>
      Latest Blarg Tweets
    </h2>
  </div>

  <div class="tweets">
    <!--<?php foreach ($tweets as $tweet) { ?>
    <div class="tweet clearfix">
      <p class="text"><?=$tweet['text']?></p>
      <p class="info">
					<span class="time pull-left small">
						<a class="text-muted" href="https://twitter.com/wrakky/status/<?=$tweet['id']?>">
              <?=$tweet['date']?>
            </a>
					</span>
					<span class="actions pull-right">
						<a href="https://twitter.com/wrakky/status/<?=$tweet['id']?>#reply" data-toggle="tooltip" title="Reply to this tweet">
              <i class="fa fa-reply"></i>
            </a>
						<a href="https://twitter.com/wrakky/status/<?=$tweet['id']?>#retweet" data-toggle="tooltip" title="Retweet this">
              <i class="fa fa-retweet"></i>
            </a>
						<a href="https://twitter.com/wrakky/status/<?=$tweet['id']?>#favourite" data-toggle="tooltip" title="Favourite this tweet">
              <i class="fa fa-star"></i>
            </a>
					</span>
      </p>
    </div>
    <?php } ?>-->
  </div>

</div>