<div class="sidebar-box">

  <div class="title">
    <h2>
      <i class="fa fa-flickr"></i>
      Photostream
    </h2>
  </div>
  
  <!--<?php foreach ($photos as $row) { ?>
  <div class="row">
    <?php foreach ($row as $photo) { ?>
    <div class="col-xs-4">
      <a href="<?=$photo['url']?>" class="thumbnail" data-toggle="tooltip" title="<?=$photo['title']?>">
        <img src="<?=$photo['tn']?>" alt="<?=$photo['title']?>">
      </a>
    </div>
    <?php } ?>
  </div>
  <?php } ?>-->

  <a href="https://www.flickr.com/photos/16120271@N03/" class="btn btn-success btn-sm btn-block">
    <i class="fa fa-flickr"></i>
    Follow me on Flickr
  </a>

</div>