<div class="sidebar-box">

  <div class="title">
    <h2>
      <i class="fa fa-share"></i>
      Share This Page
    </h2>
  </div>

  <div>
    <a data-network="twitter" class="social-share btn btn-info btn-sm"
       href="https://twitter.com/share?text={{page.title}}&url={{ site.url }}{{ page.url | link }}"
       rel="popup">
      <i class="fa fa-twitter"></i>
      Twitter
    </a>
    <a data-network="facebook" class="social-share btn btn-primary btn-sm"
       href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | link }}"
       rel="popup">
      <i class="fa fa-facebook-square"></i>
      Facebook
    </a>
    <a data-network="googleplus" class="social-share btn btn-danger btn-sm"
       href="https://plus.google.com/share?url={{ site.url }}{{ page.url | link }}"
       rel="popup">
      <i class="fa fa-google-plus"></i>
      Google+
    </a>
  </div>

</div>