<!-- Tools -->
<div class="sidebar-box">

  <div class="title">
    <h2>
      <i class="fa fa-cogs"></i>
      Tools
    </h2>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="/tools/page-ruler">
        <img class="icon" src="/resources/images/browser/chrome.png">
        Page Ruler
      </a>
      <p>Draw a ruler to get pixel dimensions and positioning on any page</p>
    </li>
    <li class="list-group-item">
      <a href="/tools/robots-vs-humans">
        <img class="icon" src="/resources/images/browser/chrome.png">
        Robots vs Humans
      </a>
      <p>Display robots.txt and humans.txt files on any website</p>
    </li>
    <li class="list-group-item">
      <a href="/astronomy/barn-door-tracker-calculator">
        <img class="icon" src="/resources/images/astronomy/telescope.png">
        Barn Door Tracker Calculator
      </a>
      <p>Quickly calculate the distance between the hinge and drive bolt</p>
    </li>
  </ul>

</div>